* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
html {
  font-size: 10px;
}
body {
  background-color: #494470;
  overflow: hidden;
}
.calculator-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: 50rem;
  background-color: #324365;
  border-radius: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 1rem;
  font-size: 2rem;
		font-weight: 800;
		overflow: hidden;
}
.output {
  grid-area: 1/1/2/5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
}
.previous {
  font-size: 2rem;
  height: 2rem;
}
.current {
  font-size: 3rem;
}
.zero {
  grid-area: 6/1/7/1;
  border-radius: 3rem !important;
}
.equals {
  grid-area: 6/4/7/5;
}
button {
  border: none;
  outline: none;
  border-radius: 50px;
background: linear-gradient(315deg, #36486c, #2d3c5b);
box-shadow:  -20px -20px 60px #26324c,
             20px 20px 60px #3f547e;
  font-size: 2rem;
  color: white;
}
button:hover {
  cursor: pointer;
}
button:active {
  border-radius: 50px;
background: #324365;
box-shadow: inset -20px -20px 60px #26324c,
            inset 20px 20px 60px #3f547e;

  background: #494470;
}
.symbol {
  color: rgb(184, 67, 24);
  font-weight: bolder;
}
